<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header') -%>
  <body>
    <!-- Navigation-->
    <%- include('layouts/navbar') -%>
    <!-- Page Header-->
    <header
      class="masthead"
      style="background-image: url('/assets/img/contact-bg.jpg')"
    >
      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="page-heading">
              <h1>Create new user account</h1>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Main Content-->
    <main class="mb-4">
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="my-5">
              <!-- * * * * * * * * * * * * * * *-->
              <!-- * * SB Forms Contact Form * *-->
              <!-- * * * * * * * * * * * * * * *-->
              <!-- This form is pre-integrated with SB Forms.-->
              <!-- To make this form functional, sign up at-->
              <!-- https://startbootstrap.com/solution/contact-forms-->
              <!-- to get an API token!-->
              <div class="form-floating">
                <% if(errors != null && errors.length > 0){ %>
                <ul class="list-group"></ul>
                  <% for (var i = 0; i < errors.length; i++) { %>
                  <li class="list-group-item list-group-item-danger"><%= errors[i] %></li>
                  <% } %>
                </ul>
                <% } %>
              </div>
              <form
                action="/users/register"
                method="POST"
                id="createPostForm"
                enctype="multipart/form-data"
              >
                <div class="form-floating">
                  <input
                    class="form-control"
                    id="userName"
                    name="userName"
                    type="text"
                    placeholder="User Name"
                    data-sb-validations="required"
                    value="<%=username %>"/>
                  <label for="userName">User Name</label>
                </div>
                <div class="form-floating">
                  <input
                    class="form-control"
                    id="password"
                    name="password"
                    type="password"
                    placeholder="Password"
                    data-sb-validations="required"
                    value="<%=password %>"/>
                  <label for="password">Password</label>
                </div>
                <br />
                <!-- Submit Button-->
                <button
                  class="btn btn-primary text-uppercase"
                  id="submitButton"
                  type="submit"
                >
                  Register
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- Footer-->
    <%- include('layouts/footer') -%>
    <!-- Bootstrap core JS-->
    <%- include('layouts/scripts') -%>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
  </body>
</html>
